@model IEnumerable<PostResponse>
@{
    int count = 0;
    int id = 0;
    string id2 = "a" + id;
}
<div class="container">
    <a asp-action="Create" class="btn btn-primary">New Post</a>
    @foreach (var post in Model)
    {
        <div>
             <label>@post.name</label>
            <div id="@id2" class="carousel slide w-50" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @foreach(var image in post.imagesList)
                    {
                        @if(count == 0)
                        {
                            <div class="carousel-item active">
                                <img src="@Url.Content("~/wwwroot/images/" + image)" class="d-block w-100" style="object-fit:cover" alt="...">
                            </div>
                            { count++; }
                        }
                        else 
                        {
                            <div class="carousel-item">
                                <img src="@Url.Content("~/wwwroot/images/" + image)" class="d-block w-100" style="object-fit:cover" alt="...">
                            </div>
                        } 
                    }
                    <button class="carousel-control-prev" type="button" data-bs-target="#@id2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#@id2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
        <p>@post.likesCount</p>
        <hr />
        @{
                count = 0;
                id++;
                id2 = "a" + id;
            }
        </div>
    }
</div>